<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="De4.Properties.Settings.storeConnectionString" connectionString="Data Source=LAPTOP-VN8V3HTP\LAMLUONG16;Initial Catalog=store;Persist Security Info=True;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MyCNN" value="Data Source = LAPTOP-VN8V3HTP\LAMLUONG16; Initial Catalog = store; User ID = sa; Password = abc"/>
	</appSettings>
</configuration>